#Version of Django
Django==1.4.5

# Django-guardian used for privacy settings
django-guardian

#Django Tastypie for Restful APIs

django-tastypie

# Django-south for migrations
South

#python Imaging library for uploading images in admin interface

Pillow==2.0.0

#Fabric 

Fabric==1.6.1

#Django Haystack and pyelasticsearch

django-haystack==2.0.0 

pyelasticsearch==0.5
