{% extends "profile_base.html" %}
{% load i18n %}
{% load account_tags %}
{% load url from future %}
{% load metron_tags %}
{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% load friendshiptags %}



{% block body_class %}home{% endblock %}

{% block body %}
<div class="frame" style="font-family:finger paint">
{% if user.is_authenticated %}
<div class="container-fluid">
<div class="row-fluid">

{% block base-1 %}
<div class="span2">  
<div class="thumbnail">
<h3>{% user_display request.user %}</h3>
<p>Thumbnail caption</p>
<img src="{{ profile.photo.url }}" alt="" height="320" width="240" />
</div>
<h3> Friends </h3>
{% friends request.user %}
</div>
{% endblock %}

{% block base-2 %}
<div class="span8">
<div class="tabbable">
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#tab1" data-toggle="tab"> Sugar Activities </a>
    </li>
  <li><a href="#tab2" data-toggle="tab">Friends Feeds</a></li>
    <li><a href="#tab3" data-toggle="tab">Project Gallery
</a></li>
  <li><a href="#tab4" data-toggle="tab">Remixed Projects </a></li>
</ul>
<div class="tab-content">

<div class="tab-pane active" id="tab1">
<ul>
  {% for pro in project %}

  <li id="tab_profile"><strong>{{ pro.title }}</strong><img class="pull-right" src="{{ pro.screenshot.url }}" height="60" width="60" /><br>{{ pro.desc }}<br>{{ pro.shared_date }}<a href="{{ pro.src.url }}" > Source code </a></li><hr>
{% endfor %}
</ul>
{% if project|length >= 4 %}<a href="#" >View More </a>{% endif %}
</div>
  <div class="tab-pane" id="tab3">

    <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner">

	<div class="item active">
          <ul class="thumbnails">
	    
{% for pro in project|slice:":4" %} 	   
	              <li class="span3"> 
              <div class="thumbnail">/
		<img src="{{ pro.screenshot.url }}" height="320" width="240" />
<ul>
<li><small>{{ pro.title|truncatewords_html:"3"|safe }} @{{ pro.owner }} {{ pro.shared_date }} <a href="{{ pro.src.url }}" > Source code </a> </small></li></ul>
   
              </div>
            </li>

	     {% endfor %}
          </ul>
  </div>

<div class="item">
<ul class="thumbnails">
{% for pro in project|slice:"4:" %}
<li class="span3">
  <div class="thumbnail">
	      <img src="{{ pro.screenshot.url }}" height="320" width="240" />
</div>
</li>
{% endfor %}
</ul>
</div>

<a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
<a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
</div>
</div>

</div>


<div class="tab-pane" id="tab2">
<h1>howdy stranger</h1>
</div>

</div>

{% endblock %}


{% else %}
                 <h1><a href="{% url "account_login" %}">{% trans "Log in" %}</a></h1>

      {% endif %}
</div>
{% endblock %}
